<article>
  <h2><%= 'top.title'.t %></h2>
  <p><%= 'top.description'.t %></p>
  <nav class="connect">
    <ul>
      <li><%= render 'connect/facebook/login_button' %></li>
      <li><%= render 'connect/google/login_button' %></li>
    </ul>
  </nav>
</article>
