<fb:login-button
  size="large"
  onlogin="location.href = '<%= connect_facebook_path %>'"
  scope="<%= Connect::Facebook.config[:scope]%>"
  button_type="continue_with"
  use_continue_as="true"
></fb:login-button>

<% content_for :top do %>
  <div id="fb-root"></div>
<% end %>

<% content_for :bottom do %>
  <script src="https://connect.facebook.net/en_US/all.js"></script>
  <script>
    FB.init({
      appId: "<%= Connect::Facebook.config[:client_id] %>",
      cookie: true,
      xfbml: true,
      oauth: true,
      version: 'v2.9'
    });
  </script>
<% end %>